.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.grid {
  display: flex;
  gap: 2rem;  
  max-width: 100%;
  flex-wrap: wrap;
}

.dailyBox {
  display: flex;
  flex-direction: column;
  background: #966e76;
  min-height: 200px;
  padding: 20px;
  width: 340px;
}

.task {
  user-select: none;
}

.task:hover {
  cursor: pointer;
  background: rgb(71, 27, 35);
}

.divider {
  margin: 30px 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}